tunnel: {{ tunnel_id }}
credentials-file: /etc/cloudflared/{{ tunnel_id }}.json

ingress:
  # Route traffic from tunnel to HAProxy
  - hostname: {{ tunnel_hostname }}
    service: http://localhost:80

  # HAProxy Stats interface
  - hostname: stats.{{ tunnel_hostname }}
    service: http://localhost:8404

  # Catch-all rule (required)
  - service: http_status:404
